<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Todolist Flask</h1>
    <form action="/addTask" method="POST">
        <input type="text" name="task">
        <input type="submit" value="addTask">
    </form>
    <div>
      
            {% for tasks in result %} 
                <p> {{tasks['task']}}</p>
                <form action="/deletTask" method="POST">
                    <input type='hidden' name="id" value="{{tasks['id']}}" >
                    <input type="submit" value="delete">
                </form>

                <form action="/updateTask" method="POST">
                    <input type="text" name='update' value="">
                    <input type='hidden' name="id" value="{{tasks['id']}}" >
                    <input type="submit" value="update">
                </form>
            {% endfor %} 
       

       <!-- <span>{{result}}</span> -->
    </div>
</body>
</html>